    header{
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        padding: 20px; 
        background-color: #4f3f84;
        color:white; 
    }
    body{
        margin: 0; 
    }
    section{
        padding: 30px; 
        text-align: center; 
    }
    .contenedor-tarjetas{
        display: flex;
    flex-wrap: wrap;       /* Si no caben en pantallas chicas, bajan ordenadamente */
    justify-content: center; /* Los centra en la pantalla como grupo */
    gap: 20px;             /* Separa un cuadrito de otro */
    padding: 30px;
    
    }
    .producto{
    background-color: white; 
    border: 2px solid black; 
    border-radius: 10px; 
    padding: 20px; 
    margin: 0;             /* Quitamos el margin de 20px anterior para que no se deformen */
    width: 220px;          /* Esto los vuelve "cuadros pequeños" fijos */
    text-align: center;
    margin-left: auto;     
    margin-right: 0;
    }
    /* El contenedor padre que alinea todo en una fila de izquierda a derecha */
    .contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;       /* Si no caben en pantallas chicas, bajan ordenadamente */
    justify-content: center; /* Los centra en la pantalla como grupo */
    gap: 20px;             /* Separa un cuadrito de otro */
    padding: 30px;
    }
    /* Estilo para los cuadros pequeños (las tarjetas) */
    .tarjeta {
    background-color: #FF662A; 
    border: 2px solid black; 
    border-radius: 10px; 
    padding: 20px; 
    margin: 0;             /* Quitamos el margin de 20px anterior para que no se deformen */
    width: 220px;          /* Esto los vuelve "cuadros pequeños" fijos */
    text-align: center;
    }
    input{
        padding: 10px; 
        margin: 10px; 

    }
    select{
        padding: 10px; 
        margin: 10px; 
    }
    textarea{
        padding: 10px; 
    }
    footer{
        padding: 40px 20px; 
        text-align: center; 
        background-color:#4F3F84;
        color: white;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
    }
    footer .footer-bloque {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        text-align: left;         /* Alinea los textos a la izquierda dentro de su bloque */
        min-width: 200px;         /* Evita que se aplasten demasiado */
    }
    form{
        padding: 20px; 
        text-align: center; 
    }
    button{
        padding:10px;

        border-radius:10px;

        background-color:#FF662A;

    }
    h1{

        font-size:40px;

    }
    h2{

        font-size:30px;

    }
    nav{

        display:flex;

        gap:20px;
        color: white; 
    }